################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

**/bin/
**/obj/
**/packages/
*.nupkg
*.dll
*.exe
*.xml

/.vs
